<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AntrianBankMandiriSyariah.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <AntrianBankMandiriSyariah.My.MySettings>
            <setting name="a" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="printerName" serializeAs="String">
                <value/>
            </setting>
            <setting name="tgl" serializeAs="String">
                <value/>
            </setting>
        </AntrianBankMandiriSyariah.My.MySettings>
    </userSettings>
</configuration>
